<!DOCTYPE HTML>
<html ng-app="app">
	<title>Beacon</title>
	<!-- JS -->
	<script src="/js/lib/jquery-1.11.2.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.1/TweenMax.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.6/angular.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.6/angular-animate.min.js"></script>
	<script type="text/javascript" src="/js/lib/angular-1.4.6/angular-route.js"></script>
	<script type="text/javascript" src="/js/lib/bgImage.js"></script>
	<!-- // <script type="text/javascript" src="/js/lib/animation.js"></script> -->
	<script src="https://code.createjs.com/preloadjs-0.6.1.min.js"></script>
	<!-- <script src="/js/lib/bootstrap.js"></script> -->

	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>

	<!-- ANGULAR CUSTOM -->
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/factories/beacon_factory.js"></script>
	<script type="text/javascript" src="/js/factories/journey_factory.js"></script>
	<script type="text/javascript" src="/js/factories/lookout_factory.js"></script>
	<script type="text/javascript" src="/js/factories/main_factory.js"></script>
	<script type="text/javascript" src="/js/factories/user_factory.js"></script>
	<script type="text/javascript" src="/js/factories/queueservice_factory.js"></script>
	<script type="text/javascript" src="/js/controllers/beacons_ctrl.js"></script>
	<script type="text/javascript" src="/js/controllers/journeys_ctrl.js"></script>
	<script type="text/javascript" src="/js/controllers/lookouts_ctrl.js"></script>
	<script type="text/javascript" src="/js/controllers/main_ctrl.js"></script>
	<script type="text/javascript" src="/js/controllers/users_ctrl.js"></script>

</html>
<body ng-controller="MainController as main">
	<nav class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					<img alt="Brand" src="/assets/img/beacon2-sm.png">
				</a>
			</div>
			<div>
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="#/">Home</a></li>
					<li ng-if="users_Ctrl.loggeduser == undefined"><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
					<li ng-if="users_Ctrl.loggeduser == undefined"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li ng-if="users_Ctrl.loggeduser"><a href="#/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="banner"></div>
	<div class="container">
		<div ng-view="" class="col-xs-12"></div>
	</div>
</body>