<div ng-if="beaconsCtrl.currentbeacon">
	<h1>{{beaconsCtrl.currentbeacon.beacon_name}}</h1>
<!-- 	<h4>This is a description for the beacon....includes location and times.</h4>
 -->
 	<h4>{{beaconsCtrl.currentbeacon.description}}</h4>	
 	<button class="btn btn-danger btn-sm" ng-click="beaconsCtrl.removeBeacon(beaconsCtrl.currentbeacon)">Delete beacon</button>
 	<h3>Expected Travelers</h3>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
	</div>

</div>
<div ng-if="!beaconsCtrl.currentbeacon">
	<h1>Please select a beacon on the left</h1>
</div>