<div id="info">
	<h1>Beacon Name</h1>
	<h4>This is a description for the beacon....includes location and times.</h4>
	<h3>Expected Travelers</h3>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
		<div class="col-sm-2">
			<a href="#" class="btn btn-info btn-lg">
          		<span class="glyphicon glyphicon-user"></span> User
        	</a>
		</div>
	</div>
</div>