<form class="form-vertical" role="form">
	<div class="center-block">
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="beacon_name">Beacon name:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="beacon_name" placeholder="Enter beacon name" ng-model="beaconsCtrl.newBeacon.beacon_name">
      			</div>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="description">Description:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="description" placeholder="Enter description" ng-model="beaconsCtrl.newBeacon.description">
      			</div>
    		</div>
    	</div>
    	<div class="form-group">
     		<div class="col-sm-10">
        		<button class="btn btn-info" ng-click="beaconsCtrl.addBeacon(beaconsCtrl.newBeacon)">Build</button>
      		</div>
    	</div>
    	<div class="form-group">
      		<div class="col-sm-10">
        		<a href="#/"><button class="btn btn-default">Cancel</button><a>
      		</div>
    	</div>
    </div>
</form>