<h1>Dashboard</h1>

<div style="margin-top: 15px">
				<ul class="nav navbar-nav pull-left">
					<li><img style="height: 60px" src="{{auth.profile.picture}}" alt=""></li>
					<li><h4 style="margin-left: 10px">{{auth.profile.nickname}} </h3></li>
					<li class="active"><a href="#/dashboard">Dashboard</a></li>
					<li><a href="#/beacons">Beacons</a></li>
					<li><a href="#/journeys">Journeys</a></li>
					<li><a href="#/lookouts">Lookouts</a></li>
					<li><a href="#/logout" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>


