<div id="info">
	<h1>Journey to Beacon Name</h1>
	<h4>This is a description for the journey....includes location and times.</h4>
	<h3>Expected Arrival</h3>
	<div class="row">
		<div class="col-sm-3">
			<a href="#" class="btn btn-success btn-lg">
          		<span class="glyphicon glyphicon-time"></span> On time
        	</a>
		</div>
		<div class="col-sm-3">
			<a href="#" class="btn btn-warning btn-lg">
          		<span class="glyphicon glyphicon-exclamation-sign"></span> Delayed
        	</a>
		</div>
		<div class="col-sm-3">
			<a href="#" class="btn btn-danger btn-lg">
          		<span class="glyphicon glyphicon-ban-circle"></span> Canceled
        	</a>
		</div>
	</div>
</div>