<form class="form-vertical" role="form">
	<div class="center-block">
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="lookout_name">Lookout's name:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="lookout_name" placeholder="Enter lookout's name" ng-model="usersCtrl.newLookout.lookout_name">
      			</div>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="journey_name">Journey name:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="journey_name" placeholder="Enter journey name" ng-model="usersCtrl.newJourney.journey_name">
      			</div>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="message">Message:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="message" placeholder="Enter message" ng-model="usersCtrl.newLookout.message">
      			</div>
    		</div>
    	</div>
    	<div class="form-group">
     		<div class="col-sm-10">
        		<button class="btn btn-info" ng-click="usersCtrl.addLookout(userssCtrl.newLookout)">Send</button>
      		</div>
    	</div>
    	<div class="form-group">
      		<div class="col-sm-10">
        		<a href="#/"><button class="btn btn-default">Cancel</button><a>
      		</div>
    	</div>
    </div>
</form>