
<div ng-if="beaconsCtrl.loggeduser">
	<div class="col-sm-3">
		<button type="button" class="btn btn-primary" ng-click="beaconsCtrl.addBeacon(beaconsCtrl.newBeacon)">Build a Beacon</button>
		<h3>My Beacons</h3>
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="beacon in beaconsCtrl.beacons">
					<a ng-if="beaconsCtrl.loggeduser.first_name == beacon.beacon_first_name" ng-click="beaconsCtrl.selectBeacon(beacon)" id="{{beacon.beacon_name}}">{{beacon.beacon_name}}</a>
				</li>
			</ul>
	</div>
	<div class="col-sm-6" ng-include="'/partials/beaconInfo.html'"></div>
	<div class="col-sm-2">
		<div ng-include="'/partials/beaconCreate.html'"></div>
	</div>
</div>