<div style="margin-top: 100px"></div>

<div class="row">
	<div class="col-sm-3">
		<label>Build a Beacon <input type="checkbox" ng-model="checked" aria-label="Toggle ngHide" value="submit"></label>
	</div>
	<div class="col-sm-8" ng-show="checked" ng-include="'/partials/beaconCreate.html'"></div>
</div>

<div class="row">
	<div class="col-sm-3">
		<h3>My Beacons</h3>
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="beacon in beacons_ctrl.beacons">
					<a ng-click="beacons_ctrl.selectBeacon(beacon)" id="{{beacon.id}}">{{beacon.name}}</a>
				</li>
			</ul>
	</div>
	<div class="col-sm-8" ng-include="'/partials/beaconInfo.html'"></div>
</div>