
<div ng-if="journeysCtrl.loggeduser">
	<div class="col-sm-3">
		<h3>My Journeys</h3>
  			<ul class="nav nav-pills nav-stacked">
			    <li><a href="#/journeys">Journey A</a></li>
			    <li><a href="#/journeys">Journey B</a></li>
			    <li><a href="#/journeys">Journey C</a></li>
			    <li><a href="#/journeys">Journey D</a></li>
  			</ul>
	</div>
	<div class="col-sm-6" ng-include="'/partials/journeyInfo.html'"></div>
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary">Schedule a Journey</button>
		<div ng-include="'/partials/journeyCreate.html'"></div>
	</div>
</div>