<div style="margin-top: 100px"></div>
<div>
	<div class="col-sm-3">
		<h3>I'm Looking out for</h3>
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="#" class="btn btn-info btn-sm">
				<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
		</ul>
		<h3>Looking out for me</h3>
		<ul class="nav nav-pills nav-stacked">
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
			<li>
				<a href="#" class="btn btn-info btn-sm">
					<span class="glyphicon glyphicon-user"></span> User
				</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-6" ng-include="'/partials/lookoutInfo.html'"></div>
	<div class="col-sm-2">
		<button type="button" class="btn btn-primary">Request for a Lookout</button>
		<div ng-include="'/partials/lookoutRequest.html'"></div>
		<button type="button" class="btn btn-primary">Request to be a Lookout</button>
	</div>
</div>