<div style="margin-top: 100px"></div>

<h1>Hello, {{auth.profile.username}}</h1>

<form class="form-vertical" role="form">
	<div class="center-block">
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="first_name">First Name:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="first_name" placeholder="First Name" ng-model="users_ctrl.newUser.first_name">
      			</div>
    		</div>
    	</div>
    	<div class="form-group">
    		<div class="form-group">
      			<label class="control-label col-sm-6" for="last_name">Last Name:</label>
      			<div class="col-sm-8">
        			<input type="text" class="form-control" id="last_name" placeholder="Last Name" ng-model="users_ctrl.newUser.last_name">
      			</div>
    		</div>
    	</div>
    	<input type="hidden" id="auth0_id" value="{{auth.profile.user_id}}" ng-model="users_ctrl.newUser.auth0_id">
        <input type="hidden" id="username" value="{{auth.profile.username}}" ng-model="users_ctrl.newUser.username">
		<input type="hidden" id="email" value="{{auth.profile.email}}" ng-model="users_ctrl.newUser.email">
    	<div class="form-group">
     		<div class="col-sm-10">
        		<button class="btn btn-info" ng-click="users_ctrl.addUser(users_ctrl.newUser)">Add to Database</button>
      		</div>
    	</div>
    	<div class="form-group">
      		<div class="col-sm-10">
        		<a href="#/profile"><button class="btn btn-default">Cancel</button><a>
      		</div>
    	</div>
    </div>
</form>